$font-weights: (
    'medium': 500,
    'bold': 700,
    'extra-bold': 800,
);

$heading-size: (
    'xsmall': 2rem,
    'small': 2.4rem,
    'medium': 3.2rem,
    'large': 4rem,
    'xlarge': 5.6rem,
);

$heading-height: (
    'xsmall': 2.4rem,
    'small': 2.8rem,
    'medium': 4rem,
    'large': 5.1rem,
    'xlarge': 7rem,
);

$media-map: (
    // 320px
    'min': 20em,
    // 480px
    'tablet': 30em,
    // 620px
    'tablet-sm-desktop': 38.75em,
    // 768px
    'small-desktop': 48em,
    // 900px
    'sm-lg-desktop': 56.25em,
    // 1024px
    'large-desktop': 64em,
    // 1440px
    'max': 90em
);
