$website-font: 'Plus Jakarta Sans', sans-serif;
$max-content-width: 1110px;
$primary-color: #13183f;
$secondary-color: #83869a;
$accent-color: #f74780;
$accent-color-2: #666ca3;
$pink: #ffa7c3;
$white: #fff;
$gradient-1: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient-2: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$gradient-3: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
$box-drop-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
$box-border-radius: 10px;
$button-border-radius: 30px;
